.Carts {
  margin:20px;
}


.Carts .cart-Wapper {
  display: flex;
  gap: 10px;
  width: 100%;
}

.Carts .cart-Wapper .cart-list{
  width: 75%;
}

.Carts .cart-Wapper .cart-list table {
  width: 100%;
} 
.Carts .cart-Wapper .cart-list table ,
.Carts .cart-Wapper .cart-list table th,
.Carts .cart-Wapper .cart-list table td{
  border: 1px solid #555;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
  color: #333;
}
.Carts .cart-Wapper .cart-list table td :is(span,p) {
  font-size: 14px;
}
.Carts .cart-Wapper .cart-list table td img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.Carts .cart-Wapper .cart-list table td .quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--Color-Primary);
  color: white;
  padding: 8px;
}

.Carts .cart-Wapper .cart-list table td .quantity button {
  width: 30px;
  height: 30px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
}

.Carts .cart-Wapper .cart-list table td .quantity button:hover{
  background-color: var(--Color-secondary);
  color: white;
}
.Carts .cart-Wapper .cart-list table td .remove {
  padding: 10px 15px ;
  border: none;
  border-radius: 10px;
  background-color: brown;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.Carts .cart-Wapper .cart-total {
  position: fixed;
  right: 10px;
  width: calc(20% - 10px);
}

.Carts .cart-Wapper .cart-total .total-wapper{
  width: 100%;
  background: var(--Color-Primary);
  border-radius: 10px;
  padding: 20px;
}

.Carts .cart-Wapper .cart-total .total-wapper :is(.total, .quantity) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Carts .cart-Wapper .cart-total .total-wapper :is(.total, .quantity) span {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.Carts .cart-Wapper .cart-total .total-wapper button {
  padding: 10px 20px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: var(--Color-secondary);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}

.Carts .cart-Wapper .cart-total .total-wapper button:hover {
  opacity: 0.75;
}